<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @data_source.source %>
</p>

<p>
  <strong>Truth uuid:</strong>
  <%= @data_source.truth_uuid %>
</p>

<%= link_to 'Edit', edit_data_source_path(@data_source) %> |
<%= link_to 'Back', data_sources_path %>
