<p id="notice"><%= notice %></p>

<h1>Measure Targets</h1>

<table>
  <thead>
    <tr>
      <th>Target</th>
      <th>Truth uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measure_targets.each do |measure_target| %>
      <tr>
        <td><%= measure_target.target %></td>
        <td><%= measure_target.truth_uuid %></td>
        <td><%= link_to 'Show', measure_target %></td>
        <td><%= link_to 'Edit', edit_measure_target_path(measure_target) %></td>
        <td><%= link_to 'Destroy', measure_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure Target', new_measure_target_path %>
