<div class="show-container">
	<p id="notice"><%= notice %></p>

	<h1>
		<p>
		  <strong>Target:</strong>
		  <%= @measure_target.target %>
		</p>
	</h1>

	<h2>
		<%= @target_measures.all.count %> measures associated with this source
	</h2>

	<div class="pagination">
    	<%= will_paginate @target_measures %>
	</div>

	<table class="measures-index">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th class="center"><%= sort_link(@search, :country_id) %></th>
	      <th class="center">Targets</th>
	      <th>Description</th>
	      <th class="center"><%= sort_link(@search, :measure_implementation_period_start_year, "Implementation start year") %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @target_measures.each do |measure| %>
	      <tr>
	        <td width="10%"><%= link_to measure.name, measure %></td>
	        <td class="center">
	          <% @country = Country.where(id: measure.country_id)[0] %>
	          <%= link_to @country.country, @country %>
	        </td>  
	        <td class="center">
	          <% measure.measure_targets.each_with_index{|target_id,i| %>
	            <% @target = MeasureTarget.where(id: target_id)[0] %>
	            <% if target_id == measure.measure_targets[-1] %>
	              <%= link_to @target.target, @target %>
	            <% else %>
	              <%= link_to @target.target, @target %>, 
	            <% end %>
	          <% } %>
	        </td>
	        <td width="70%"><%= measure.description %></td>
	        <td class="center">
	          <%= measure.measure_implementation_period_start_year %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>	



	<% if false %>
	<p>
	  <strong>Truth uuid:</strong>
	  <%= @measure_target.truth_uuid %>
	</p>

	<%= link_to 'Edit', edit_measure_target_path(@measure_target) %> |
	<%= link_to 'Back', measure_targets_path %>
	<% end %>
</div>