<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @country.country %>
</p>

<p>
  <strong>Truth uuid:</strong>
  <%= @country.truth_uuid %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
