<p id="notice"><%= notice %></p>

<p>
  <strong>Target:</strong>
  <%= @measure_target.target %>
</p>

<p>
  <strong>Truth uuid:</strong>
  <%= @measure_target.truth_uuid %>
</p>

<%= link_to 'Edit', edit_measure_target_path(@measure_target) %> |
<%= link_to 'Back', measure_targets_path %>
