<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @measure.name %>
</p>

<p>
  <strong>Country:</strong>
  <% @country = Country.where(id: @measure.country_id)[0] %>
  <%= link_to @country.country, @country %>
</p>

<p>
  <strong>Data source:</strong>
  <% @source = DataSource.where(id: @measure.data_source_id)[0] %>
  <%= link_to @source.source, @source%>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @measure.link, @measure.link, target: "_blank" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @measure.description %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @measure.agency %>
</p>

<p>
  <strong>City:</strong>
  <%= @measure.city %>
</p>

<p>
  <strong>Country region:</strong>
  <%= @measure.country_region %>
</p>

<p>
  <strong>Ghgs affected:</strong>
  <%= @measure.ghgs_affected %>
</p>

<p>
  <strong>Impact evaluation:</strong>
  <%= @measure.impact_evaluation %>
</p>

<p>
  <strong>Impact on eu ets esd or lulucf emissions:</strong>
  <%= @measure.impact_on_eu_ets_esd_or_lulucf_emissions %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @measure.jurisdiction %>
</p>

<p>
  <strong>Percent private funded:</strong>
  <%= @measure.percent_private_funded %>
</p>

<p>
  <strong>Measure financing period start:</strong>
  <%= @measure.measure_financing_period_start %>
</p>

<p>
  <strong>Measure financing quantity:</strong>
  <%= @measure.measure_financing_quantity %>
</p>

<p>
  <strong>Measure implementation period start year:</strong>
  <%= @measure.measure_implementation_period_start_year %>
</p>

<p>
  <strong>Measure implementation period end year:</strong>
  <%= @measure.measure_implementation_period_end_year %>
</p>

<p>
  <strong>Measure status:</strong>
  <%= @measure.measure_status %>
</p>

<p>
  <strong>Measure targets:</strong>
  <% @measure.measure_targets.each_with_index{|target_id,i| %>
    <% @target = MeasureTarget.where(id: target_id)[0] %>
    <% if target_id == @measure.measure_targets[-1] %>
      <%= link_to @target.target, @target %>
    <% else %>
      <%= link_to @target.target, @target %>, 
    <% end %>
  <% } %>
</p>

<p>
  <strong>Measure type:</strong>
  <%= @measure.measure_type %>
</p>

<p>
  <strong>Measure written year:</strong>
  <%= @measure.measure_written_year %>
</p>

<p>
  <strong>Related documents text:</strong>
  <%= @measure.related_documents_text %>
</p>

<p>
  <strong>Related documents url:</strong>
  <%= @measure.related_documents_url %>
</p>

<p>
  <strong>Related to eu policy:</strong>
  <%= @measure.related_to_eu_policy %>
</p>

<p>
  <strong>Related to eu policy boolean:</strong>
  <%= @measure.related_to_eu_policy_boolean %>
</p>

<p>
  <strong>Related to neeap policy:</strong>
  <%= @measure.related_to_neeap_policy %>
</p>

<p>
  <strong>Related to neeap policy boolean:</strong>
  <%= @measure.related_to_neeap_policy_boolean %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2020:</strong>
  <%= @measure.total_ghg_emissions_reductions_in_2020 %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2030:</strong>
  <%= @measure.total_ghg_emissions_reductions_in_2030 %>
</p>

<% if false %>


<p>
  <strong>Truth uuid:</strong>
  <%= @measure.truth_uuid %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>

<% end %>